body {
  background-color: #0084b4;
  color: rgba(255, 255, 255, 0.692);
}

.title {
  margin-top: 2.5rem;
}

.wrapper {
  margin-top: 2.5rem;
  background-color: #00aced;
  border-radius: 10px;
  height: 400px;
}

.counter {
  margin-top: 150px;
}

.tombol {
  background-color: #1dcaff;
  color: rgba(255, 255, 255, 0.747);
}

.tombol:hover {
  color: rgba(255, 255, 255, 0.527);
}

.number-container {
  /* From https://css.glass */
  background: rgba(192, 222, 237, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(192, 222, 237, 0.14);
  margin-top: 140px;
}
